@charset "UTF-8";

/* body description */
body {
	background-color: white;
	font: x-large sans-serif;
	color: #444444;
	margin: 0;
	overflow: auto;
}

header, nav, section, footer, aside {
	margin: 0.2em;
	background-color: #555555;
	color: white;
	background-color: #555555;
}

header {
	text-align: center;
	vertical-align: center;
}

section {
	float: left;
	width: 65%;
}

aside.ads {
	width: 14%;
	float: left;
	/* margin-left:85%;*/
}

footer {
	clear: both;
	text-align: center;
	vertical-align: center;
	text-align: center;
}

/* defining nav tags */
nav {
	float: left;
	width: 14%;
	background-color: white;
}

nav a {
	display: block;
	color: white;
	background-color: #555555;
	padding: 0.4em;
	margin-bottom: 0.1em;
	border-radius: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-width: 3px;
	text-decoration: none;
	text-align: center;
	border-radius: 0.5em;
}

nav a.indent {
	margin-left: 1em;
	background-color: #666666;
}

nav a:hover {
	background-color: #444444;
	border-color: rgba(0, 0, 0, 0.5);
}

nav a:active {
	background-color: #333333;
	border-color: rgba(0, 0, 0, 0.9);
}

/* article styling*/
article {
	margin: 0.5em;
	padding: 0.5em;
	vertical-align: center;
	background-color: white;
	color: #444444;
}

article div.text {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

/* defining the h-tags */
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

/* defining text tags */
p.extra {
	background-color: white;
	color: #222222;
	border-radius: 0.5em;
	margin: 0.1em;
	padding: 0.2em;
}

p.afterButtons {
	clear: both;
}

a {
	border-radius: 0.2em;
}

.button {
	display: inline-block;
	color: white;
	background-color: #555555;
	padding: 0.4em;
	margin-bottom: 0.1em;
	border-radius: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-width: 3px;
	text-decoration: none;
	text-align: center;
}

.button:hover {
	background-color: #444444;
	border-color: rgba(0, 0, 0, 0.5);
}

.button:active {
	background-color: #333333;
	border-color: rgba(0, 0, 0, 0.9);
}

.button.fillHalf {
	word-wrap: break-word;
	width: 44%;
	float: left;
	margin-left: 2.5%;
}

.button.fill {
	display: block;
}

.button.orange {
	background-color: #ff8800;
}

.button.orange:hover {
	background-color: #ee7700;
}

.button.orange:active {
	background-color: #dd6600;
}

.button.green {
	background-color: #008800;
}

.button.green:hover {
	background-color: #007700;
}

.button.green:active {
	background-color: #006600;
}

.button.blue {
	background-color: #000088;
}

.button.blue:hover {
	background-color: #000077;
}

.button.blue:active {
	background-color: #000066;
}

.button.red {
	background-color: #880000;
}

.button.red:hover {
	background-color: #770000;
}

.button.red:active {
	background-color: #660000;
}

div.imgGallery {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

p.buttons {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	margin: 0.5em 0 0.5em 0;
}

img {
	width: 100%;
}

div.video {
	text-align: center;
	background: #555555;
	color: white;
	margin: 0.5em;
	padding: 0.5em;
}

video.trailer {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-width: 2px;
	border-radius: 0.5em;
	margin: 0.1em;
	background: white;
	width: 50%;
	display: inline;
}

/* General Layout */
.border1 {
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-width: 2px;
}

.borderWhite {
	border: medium solid white;
}

.roundCorners1 {
	border-radius: 0.5em;
}

.form {
	text-align: center;
}

input {
	margin: 0.1em;
	line-height: 2em;
	font: x-large sans-serif;
}



input.button {
	width: 40%;
}



.textInput {
	display: inline-block;
	color: white;
	background-color: #555555;
	padding: 0.4em;
	margin-bottom: 0.1em;
	border-radius: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-bottom-width: 3px;
	text-decoration: none;
	text-align: center;
}

.textInput.orange {
	background-color: #ff8800;
}

.textInput.orange:hover {
	background-color: #ee7700;
}